{% extends 'base.html' %}

{% block head %}
<title>Admin Dashboard</title>
{% endblock %}



{% block body %}

<div class="card">
    <div class="card-body">

        <div class="card px-2">
            <div class="card-body">
                <h5 class="card-title text-center">ADD MEMBERS</h5>
            </div>
        </div>
       


        <div class="table-responsive p-4">
            <table class="table table-bordered">
                <thead class="table-light">
                    <tr>
                        <th class="th-sm">USER_ID</th>
                        <th>NAME</th>
                        <th>DATE OF JOINING</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>

                <form action="/group/add/member/{{ id }}" method="post">

                {% for user in users %}

                <tr>
                    <td>{{ user._id }} </td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.date }}</td>
                    <td>

                        {%if user.groupid %}

                        <span class="badge bg-primary ">Alread Added</span>

                            {% else %}
                            <input type="hidden" name="id" value="{{user._id}}" hidden/>
                            <button type="submit" class="btn btn-outline-success ">Add member</a>

                            {% endif %}

                        </td>
                </tr> 
                {% endfor %}
            </form>

            </table>
        </div>
        <br>

    </div>
</div>


{% endblock %}